
Sonarr
.mono/keypairs
alacritty
coc
configstore
deluge
fontforge
mpv/shaders
gatsby
github-copilot
gtk-2.0
lvim
lvim.bak
qBittorrent
ranger
trackma
yarn/global
.DS_Store
HKInstallerSettings.json
_ignore_patterns = {
